{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="card shadow-lg">
            <div class="card-header text-center">
                #contenido para editar 
                <h4>Editar Producto</h4>
            </div>

            <div class="card-body">

                <form method="POST">

                    <input class="form-control mb-3" name="nombre" value="{{ producto.nombre }}" required>
                    <input class="form-control mb-3" name="categoria" value="{{ producto.categoria }}" required>
                    <input class="form-control mb-3" type="number" step="0.01" name="precio" value="{{ producto.precio }}" required>
                    <input class="form-control mb-3" type="number" name="stock" value="{{ producto.stock }}" required>

                    <button class="btn btn-warning w-100">
                        <i class="bi bi-arrow-repeat"></i> Actualizar
                    </button>

                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}