{% extends 'base.html' %}

{% block content %}

<h3>Editar Producto</h3>

<form method="POST">
    <input type="text" name="nombre" value="{{ producto.nombre }}" class="form-control mb-2" required>
    <input type="text" name="categoria" value="{{ producto.categoria }}" class="form-control mb-2" required>
    <input type="number" step="0.01" name="precio" value="{{ producto.precio }}" class="form-control mb-2" required>
    <input type="number" name="stock" value="{{ producto.stock }}" class="form-control mb-2" required>

    <button class="btn btn-warning">Actualizar</button>
</form>

{% endblock %}