{% extends 'base.html' %}

{% block content %}

<div class="card shadow-lg border-0">

    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="mb-0"><i class="bi bi-box"></i> Productos</h4>
    </div>

    <div class="card-body">

        <table class="table align-middle text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for p in productos %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td class="fw-bold">{{ p.nombre }}</td>
                    <td>{{ p.categoria }}</td>
                    <td class="text-success">${{ p.precio }}</td>

                    <td>
                        {% if p.stock > 10 %}
                            <span class="badge bg-success">{{ p.stock }}</span>
                        {% elif p.stock > 0 %}
                            <span class="badge bg-warning text-dark">{{ p.stock }}</span>
                        {% else %}
                            <span class="badge bg-danger">0</span>
                        {% endif %}
                    </td>

                    <td>
                        <a href="/editar/{{ p.id }}" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a href="/eliminar/{{ p.id }}" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

    </div>

</div>

{% endblock %}