{% extends 'base.html' %}

{% block content %}

<a href="/agregar" class="btn btn-success mb-3">Agregar Producto</a>

<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Acciones</th>
    </tr>

    {% for p in productos %}
    <tr>
        <td>{{ p.id }}</td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.categoria }}</td>
        <td>{{ p.precio }}</td>
        <td>{{ p.stock }}</td>
        <td>
            <a href="/editar/{{ p.id }}" class="btn btn-warning btn-sm">Editar</a>
            <a href="/eliminar/{{ p.id }}" class="btn btn-danger btn-sm">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}