{% extends 'base.html' %}

{% block content %}

<div class="card shadow p-4">
    
    <div class="d-flex justify-content-between mb-3">
        <h3>Lista de Productos</h3>
        <a href="/agregar" class="btn btn-success">+ Nuevo</a>
    </div>

    <table class="table table-hover align-middle text-center">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {% for p in productos %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.nombre }}</td>
                <td>{{ p.categoria }}</td>
                <td>${{ p.precio }}</td>
                <td>
                    <span class="badge bg-primary">{{ p.stock }}</span>
                </td>
                <td>
                    <a href="/editar/{{ p.id }}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="/eliminar/{{ p.id }}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}